@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding', monospace;
} 

#info_home { background-image: url("../assets/section1.jpg") }
#info_skill { background-image: url("../assets/section2.jpg") }
#info_site { background-image: url("../assets/section3.jpg") }
#info_phone { background-image: url("../assets/section4.jpg") }

#info_home, #info_skill, #info_site, #info_phone {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.img_padding { padding-top: 5vh; padding-bottom: 5vh;}

#info_home {
    color: #fff;
    text-align: center;
    font-weight: 700;
    opacity: 0.8;
}
#fly-in {
    font-size: 8em;
    margin: 40vh auto;
    height: 20vh; 
    text-transform: uppercase;
}

#fly-in span {
    display: block;
    font-size: .5em;
    opacity: .8;
}

#fly-in div {
    position: fixed; 
    margin: 2vh 0;
    opacity: 0;
    left: 10vw;
    width: 80vw;
    animation: switch 28s linear infinite;
}

#fly-in div:nth-child(2) { animation-delay: 3s}
#fly-in div:nth-child(3) { animation-delay: 6s}
#fly-in div:nth-child(4) { animation-delay: 9s}
#fly-in div:nth-child(5) { animation-delay: 12s}
#fly-in div:nth-child(6) { animation-delay: 15s}
#fly-in div:nth-child(7) { animation-delay: 18s}
#fly-in div:nth-child(8) { animation-delay: 21s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}
